<!DOCTYPE html>
<html lang="en">
<head>







    
    <meta charset="UTF-8">
        <style>
        body{
          background-image: linear-gradient(to top, white, rgba(0, 0, 0) );
        }
        * {
            padding: 0;
            margin: 0;
        }
        .fit { /* set relative picture size */
            max-width: 100%;
            max-height: 100%;
        }
        .center {
            display: block;
            margin: auto;
        }


    </style>
    <title>Faraz</title>
</head>
<body>
<--!
data:image/png;base64,{{image
--->
<script>
document.scrollTop()
</script>
<center>
        <script>
 

                // should start at 0
                
                function t() {

                    alert('b')
                
                }
                
                </script>

<div class="imgbox" >
    <img  onmousedown="t()"  src="../../static/app1/backgr.jpg" alt='Daisy!' width=50% height='480' />

 </div>
</center>
</body>
</html>